body {
  display: grid;
  grid-template-areas: "header header header"   "l-sider main r-sider";
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 15% 1fr;
  grid-gap: 5px;
  height: 100vh;
  color: #000;
  text-align: center;
}
.header {
  grid-area: header;
  background-color: #dfe686;
  border: 3px solid #f00;
}
.main_content {
  grid-area: main;
  background-color: #dfe686;
  border: 3px solid #00f;
}
aside {
  background-color: #b6eeb6;
  border: 3px solid #008000;
}
aside .left_sider {
  grid-area: l-sider;
}
aside .right-sider {
  grid-area: r-sider;
}
